{% load static %}
<style>
    .im{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .im img{
        max-width: 7rem;
    }
    ul{
        list-style-type: none;
        padding: 0%;
    }
    .color{
        color: #45553A;
        font-size: 0.9rem;
    }
    .ft{
        width: fit-content;
    }
    

</style>
<footer class="footer shadow-lg top-shadow">
    <div class="container">
        <div class="row">

<!--    
            <div lass="col-md-3">  <h1>dskflja</h1>
            </div> -->


            <div class="col-md-3 im">

                <!-- <h5>About Us</h5> -->
                <a class="navbar-brand" href="{% url 'home' %}"><img class="imm" src="/static/assets/logo_big.png"> KDR</a>
            </div>


            <div class="col-md-3 ">
                <h5>About Us</h5>
                <p class="color">At Kurdistan Dog Rescue, we are a dedicated team of animal lovers and advocates working tirelessly to rescue and rehabilitate dogs in need. Our mission is to provide a safe and loving environment for these incredible animals, while also promoting responsible pet ownership and raising awareness about the importance of animal welfare.</p>
            </div>


        
            
            <div class="col-md-3">
                <h5 class="">Contact</h5>
                <p class="color">Email: alananalyst00@gmail.com<br>
                   Phone: 123-456-7890</p>
            </div>
            <div class="col-md-3">
                <h5 class="ml-5">Links</h5>

                <ul class="" >
                    <li class="nav-item">
                        <a class="nav-link mx-1 color ft change" aria-current="page" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-1 ft  color change" aria-current="page" href="{% url 'list_dogs' %}">Adopt</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-1 ft color change" aria-current="page" href="{% url 'success_stories' %}">Success Stories</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-1 ft color change" aria-current="page" href="#">Support Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-1 ft color change" aria-current="page" href="{% url 'about' %}">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-1 ft color change" aria-current="page" href="">Contact</a>
                      </li>
                </ul>
               
            </div>
        </div>
    </div>
    <center><div class="Footer-module col-md-6"></div></center>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 KRD. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-links im">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
