{% extends 'base.html' %}

{% block content %}
<h1 class="h1-custom">Hundreds of dogs to chooes from! Adopt your favorite furry friend now!</h1>
    <div class="row gy-3">
        {% for dog in dogs %}
      <div class="col-md-4">
        
        
    <div class="card text-center shadow">
        {% if dog.picture %}
        <center class="card-img-bg"><img src="{{ dog.picture.url }}" alt="Dog Picture" style="height: 300px; width: 300px;" class="card-img-top card-img-bg"/></center>
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ dog.name }}</h5>
        <p class="card-text">
            <p>Age: {{ dog.age }} | Size: {{ dog.size }}</p>
            
        </p>
        <a href="#" class="btn btn-warning">Adopt!</a>
      </div>
    </div>
    
        
      </div>
      {% endfor %}
    </div>


  {% endblock content %}