{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for dog in dogs %}
      <div class="col-md-4">
        
    <div class="card" style="width: 18rem">
        {% if dog.picture %}
        <img src="{{ dog.picture.url }}" alt="Dog Picture" style="height: 250px; width: 250px;"/>
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ dog.name }}</h5>
        <p class="card-text">
            <p>Breed: {{ dog.breed }}</p>
            <p>Location: {{ dog.location }}</p>
            <p>gender: {{ dog.gender }}</p>
            <p>age: {{ dog.age }}</p>
            <p>size: {{ dog.size }}</p>
        </p>
        <a href="#" class="btn btn-warning">Adopt!</a>
      </div>
    </div>
    
        
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock content %}