body {
    background-color: #F7FFE5;
}

footer {
    padding: 4rem;
    background-color: #A0C49D;
    color: #17594A;
}

/* Navigation Bar */

.navbar-custom {
    background-color: #A0C49D;
    color: #17594A;
  }

 

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #17594A;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    color: #17594A;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ffc107;
}

.nav-link:hover {
    color: white;
    background-color: #ffc107;
    border-radius: 10px;
}

.navbar-item {
    padding: 0% 15px;
}

/* card */
.card {
    margin: 0.5rem;
}

.hero-section {
    background-color: #A0C49D;
    padding: 80px 0;
    color: #17594A;
  }
  
.hero-title {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}
  
.hero-subtitle {
font-size: 18px;
color: #555;
margin-bottom: 30px;
}
  
.hero-image {
width: 100%;
max-height: 400px;
object-fit: cover;
border-radius: 8px;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-custom {
    border: 2px solid #17594A;
    color: #17594A;
    background-color: #A0C49D;
}

.btn {
    color: #17594A;
}

.h1-custom {
    text-align: center;
    margin: 2rem;
}

/* thumbainl style */
.thumbnail {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
  
.thumbnail img {
display: block;
width: 100%;
height: 200px;
border-radius: 5px;
}

.thumbnail .caption {
margin-top: 5px;
text-align: center;
}