body {
    background-color: #F7FFE5;
}

footer {
    padding: 4rem;
    background-color: #A0C49D;
    color: black;
}

/* Navigation Bar */

.navbar-custom {
    background-color: #A0C49D;
    color: black;
  }

 

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
}

.nav-link {
    font-size: 1.2rem;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link:hover {
    color: black;
    background-color: yellow;
    border-radius: 10px;
}

.navbar-item {
    padding: 0% 15px;
}

/* card */
.card {
    margin: 0.5rem;
}

.hero-section {
    background-color: #A0C49D;
    padding: 80px 0;
  }
  
.hero-title {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}
  
.hero-subtitle {
font-size: 18px;
color: #555;
margin-bottom: 30px;
}
  
.hero-image {
width: 100%;
max-height: 400px;
object-fit: cover;
border-radius: 8px;
}
  